body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./image/fond_boulangerie.png");

}

#bod_bky{

}

#fond_boulang {
    display: inline-block;
    position: relative;
    background-image: url("./image/fond_boulangerie.png");


}



#chat {
    width: 100px;
    float: right;
    align-content: center;
}

#bulle{

}